.card{
    min-width: 320px;
     min-height: 450px;
    border: 1px solid rgb(226, 226, 226);
      padding: 0px;
      margin: 20px;
     box-shadow: 0px 5px 20px rgb(202, 202, 202);
     border-radius: 10px;
     display: inline-block;
  }
  #container 
{
    
}
